body {
	background-color: black;
	font-family: Impact, Charcoal, sans-serif;
	color: white;
}

#playWindow {
	position: relative;
	display: flex;
	justify-content: center;
}

#playArea {
	position: relative;
    width: 720px;
	height: 576px;
	border: solid green 2px;
}

#scoreContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: left;
	font-size: 1.5em;
	z-index: 30;
}

.score {
	padding: 10px;
}






























